In [1]:
import pandas as pd
import os

In [2]:
dataFrame = pd.DataFrame(columns = ['ID','Day','h_num','cSteps','h_tar','h_t_ac','daily_tar','prediction'])

In [15]:
cnt = 0
flag_mon = 0
flag_tue = 0
flag_wed = 0
flag_thu = 0
flag_fri = 0
flag_sat = 0
flag_sun = 0



for id in os.listdir('Dataset/FitnessDetails/Steps'):
    df = pd.read_csv('Dataset/FitnessDetails/Steps/'+id)
    mon = []
    tue = []
    wed = []
    thu = []
    fri = []
    sat = []
    sun = []
    for i in df.index:
        
        #i use panalaama in place of cnt?
#         if(df.at[i,"Day"] == "Monday" and flag_mon == 0 ):
#             #mon.append(df.iloc[i,1:25])
#             for col in df.columns:
#                 if col == 'Day':
#                     continue
#                 mon.append(df.at[i,col])   
#             flag_mon = 1
#         elif(df.at[i,"Day"] == "Monday" and flag_mon == 1):
#             cnt = 0
#             for col in df.columns:
#                 if col == 'Day' or col == 'Total Steps':
#                     continue
#                 #df["cSteps"] 
#                 c_steps = df.at[i,col]
#                 #df["h_tar"] 
#                 h_tar = mon[cnt]
# #                 print(mon[cnt])
#                 if(h_tar > c_steps):
#                     h_t_ac = 0
#                 else:
#                     h_t_ac = 1

#                 daily_tar = mon[24]
                
#                 mon[cnt] = c_steps
#                 if(daily_tar > df.at[i,'Total Steps']):
#                     prediction = 0
#                 else:
#                     prediction = 1
#                 row = [id.split('.')[0],df.at[i,'Day'],cnt,c_steps,h_tar,h_t_ac,daily_tar,prediction]
#                 dataFrame_len = len(dataFrame)
#                 dataFrame.loc[dataFrame_len] = row
#                 #dataFrame.append({'ID' : id,'Day' : df.at[i,'Day'],'h_num' : cnt, 'cSteps' : c_steps, 'h_tar' : h_tar, 'h_t_ac' : h_t_ac, 'daily_tar' : daily_tar, 'prediction' : prediction },ignore_index = True)
#                 cnt+=1
#             mon[24] = df.at[i,'Total Steps']
            
            
#         if(df.at[i,"Day"] == "Tuesday" and flag_tue == 0 ):
#             #mon.append(df.iloc[i,1:25])
#             for col in df.columns:
#                 if col == 'Day':
#                     continue
#                 tue.append(df.at[i,col])
                
#             flag_tue = 1


#         elif(df.at[i,"Day"] == "Tuesday" and flag_tue == 1):
#             cnt = 0
            
#             for col in df.columns:
#                 if col == 'Day' or col == 'Total Steps':
#                     continue
#                 #df["cSteps"] 
#                 c_steps = df.at[i,col]
#                 #df["h_tar"] 
#                 h_tar = tue[cnt]
# #                 print(mon[cnt])
#                 if(h_tar > c_steps):
#                     h_t_ac = 0
#                 else:
#                     h_t_ac = 1

#                 daily_tar = tue[24]
                
#                 tue[cnt] = c_steps
                

                
#                 if(daily_tar > df.at[i,'Total Steps']):
#                     prediction = 0
#                 else:
#                     prediction = 1
#                 row = [id.split('.')[0],df.at[i,'Day'],cnt,c_steps,h_tar,h_t_ac,daily_tar,prediction]
#                 dataFrame_len = len(dataFrame)
#                 dataFrame.loc[dataFrame_len] = row
#                 #dataFrame.append({'ID' : id,'Day' : df.at[i,'Day'],'h_num' : cnt, 'cSteps' : c_steps, 'h_tar' : h_tar, 'h_t_ac' : h_t_ac, 'daily_tar' : daily_tar, 'prediction' : prediction },ignore_index = True)
#                 cnt+=1
#             tue[24] = df.at[i,'Total Steps']
            
            
#         if(df.at[i,"Day"] == "Wednesday" and flag_wed == 0 ):
#         #mon.append(df.iloc[i,1:25])
#             for col in df.columns:
#                 if col == 'Day':
#                     continue
#                 wed.append(df.at[i,col])
#             flag_wed = 1
#         elif(df.at[i,"Day"] == "Wednesday" and flag_wed == 1):
#             cnt = 0
#             for col in df.columns:
#                 if col == 'Day' or col == 'Total Steps':
#                     continue
#                 #df["cSteps"] 
#                 c_steps = df.at[i,col]
#                 #df["h_tar"] 
#                 h_tar = wed[cnt]
# #                 print(mon[cnt])
#                 if(h_tar > c_steps):
#                     h_t_ac = 0
#                 else:
#                     h_t_ac = 1
#                 daily_tar = wed[24]
#                 wed[cnt] = c_steps
#                 if(daily_tar > df.at[i,'Total Steps']):
#                     prediction = 0
#                 else:
#                     prediction = 1
#                 row = [id.split('.')[0],df.at[i,'Day'],cnt,c_steps,h_tar,h_t_ac,daily_tar,prediction]
#                 dataFrame_len = len(dataFrame)
#                 dataFrame.loc[dataFrame_len] = row
#                 #dataFrame.append({'ID' : id,'Day' : df.at[i,'Day'],'h_num' : cnt, 'cSteps' : c_steps, 'h_tar' : h_tar, 'h_t_ac' : h_t_ac, 'daily_tar' : daily_tar, 'prediction' : prediction },ignore_index = True)
#                 cnt+=1
#             wed[24] = df.at[i,'Total Steps']
            
            
#         if(df.at[i,"Day"] == "Thursday" and flag_thu == 0 ):
#         #mon.append(df.iloc[i,1:25])
#             for col in df.columns:
#                 if col == 'Day':
#                     continue
#                 thu.append(df.at[i,col])   
#             flag_thu = 1
#         elif(df.at[i,"Day"] == "Thursday" and flag_thu == 1):
#             cnt = 0
#             for col in df.columns:
#                 if col == 'Day' or col == 'Total Steps':
#                     continue
#                 #df["cSteps"] 
#                 c_steps = df.at[i,col]
#                 #df["h_tar"] 
#                 h_tar = thu[cnt]
# #                 print(mon[cnt])
#                 if(h_tar > c_steps):
#                     h_t_ac = 0
#                 else:
#                     h_t_ac = 1

#                 daily_tar = thu[24]
                
#                 thu[cnt] = c_steps
#                 if(daily_tar > df.at[i,'Total Steps']):
#                     prediction = 0
#                 else:
#                     prediction = 1
#                 row = [id.split('.')[0],df.at[i,'Day'],cnt,c_steps,h_tar,h_t_ac,daily_tar,prediction]
#                 dataFrame_len = len(dataFrame)
#                 dataFrame.loc[dataFrame_len] = row
#                 #dataFrame.append({'ID' : id,'Day' : df.at[i,'Day'],'h_num' : cnt, 'cSteps' : c_steps, 'h_tar' : h_tar, 'h_t_ac' : h_t_ac, 'daily_tar' : daily_tar, 'prediction' : prediction },ignore_index = True)
#                 cnt+=1
#             thu[24] = df.at[i,'Total Steps']
            
            
#         if(df.at[i,"Day"] == "Friday" and flag_fri == 0 ):
#         #mon.append(df.iloc[i,1:25])
#             for col in df.columns:
#                 if col == 'Day':
#                     continue
#                 fri.append(df.at[i,col])   
#             flag_fri = 1
#         elif(df.at[i,"Day"] == "Friday" and flag_fri == 1):
#             cnt = 0
#             for col in df.columns:
#                 if col == 'Day' or col == 'Total Steps':
#                     continue
#                 #df["cSteps"] 
#                 c_steps = df.at[i,col]
#                 #df["h_tar"] 
#                 h_tar = fri[cnt]
# #                 print(mon[cnt])
#                 if(h_tar > c_steps):
#                     h_t_ac = 0
#                 else:
#                     h_t_ac = 1

#                 daily_tar = fri[24]
                
#                 fri[cnt] = c_steps
#                 if(daily_tar > df.at[i,'Total Steps']):
#                     prediction = 0
#                 else:
#                     prediction = 1
#                 row = [id.split('.')[0],df.at[i,'Day'],cnt,c_steps,h_tar,h_t_ac,daily_tar,prediction]
#                 dataFrame_len = len(dataFrame)
#                 dataFrame.loc[dataFrame_len] = row
#                 #dataFrame.append({'ID' : id,'Day' : df.at[i,'Day'],'h_num' : cnt, 'cSteps' : c_steps, 'h_tar' : h_tar, 'h_t_ac' : h_t_ac, 'daily_tar' : daily_tar, 'prediction' : prediction },ignore_index = True)
#                 cnt+=1
#             fri[24] = df.at[i,'Total Steps']
            
            
#         if(df.at[i,"Day"] == "Saturday" and flag_sat == 0 ):
#         #mon.append(df.iloc[i,1:25])
#             for col in df.columns:
#                 if col == 'Day':
#                     continue
#                 sat.append(df.at[i,col])   
#             flag_sat = 1
#         elif(df.at[i,"Day"] == "Saturday" and flag_sat == 1):
#             cnt = 0
#             for col in df.columns:
#                 if col == 'Day' or col == 'Total Steps':
#                     continue
#                 #df["cSteps"] 
#                 c_steps = df.at[i,col]
#                 #df["h_tar"] 
#                 h_tar = sat[cnt]
# #                 print(mon[cnt])
#                 if(h_tar > c_steps):
#                     h_t_ac = 0
#                 else:
#                     h_t_ac = 1

#                 daily_tar = sat[24]
                
#                 sat[cnt] = c_steps
#                 if(daily_tar > df.at[i,'Total Steps']):
#                     prediction = 0
#                 else:
#                     prediction = 1
#                 row = [id.split('.')[0],df.at[i,'Day'],cnt,c_steps,h_tar,h_t_ac,daily_tar,prediction]
#                 dataFrame_len = len(dataFrame)
#                 dataFrame.loc[dataFrame_len] = row
#                 #dataFrame.append({'ID' : id,'Day' : df.at[i,'Day'],'h_num' : cnt, 'cSteps' : c_steps, 'h_tar' : h_tar, 'h_t_ac' : h_t_ac, 'daily_tar' : daily_tar, 'prediction' : prediction },ignore_index = True)
#                 cnt+=1
#             sat[24] = df.at[i,'Total Steps']
            
            
        if(df.at[i,"Day"] == "Sunday" and flag_sun == 0 ):
        #mon.append(df.iloc[i,1:25])
            for col in df.columns:
                if col == 'Day':
                    continue
                sun.append(df.at[i,col])   
            flag_sun = 1
        elif(df.at[i,"Day"] == "Sunday" and flag_sun == 1):
            cnt = 0
            for col in df.columns:
                if col == 'Day' or col == 'Total Steps':
                    continue
                #df["cSteps"] 
                c_steps = df.at[i,col]
                #df["h_tar"] 
                h_tar = sun[cnt]
#                 print(mon[cnt])
                if(h_tar > c_steps):
                    h_t_ac = 0
                else:
                    h_t_ac = 1

                daily_tar = sun[24]
                
                sun[cnt] = c_steps
                if(daily_tar > df.at[i,'Total Steps']):
                    prediction = 0
                else:
                    prediction = 1
                row = [id.split('.')[0],df.at[i,'Day'],cnt,c_steps,h_tar,h_t_ac,daily_tar,prediction]
                dataFrame_len = len(dataFrame)
                dataFrame.loc[dataFrame_len] = row
                #dataFrame.append({'ID' : id,'Day' : df.at[i,'Day'],'h_num' : cnt, 'cSteps' : c_steps, 'h_tar' : h_tar, 'h_t_ac' : h_t_ac, 'daily_tar' : daily_tar, 'prediction' : prediction },ignore_index = True)
                cnt+=1
            sun[24] = df.at[i,'Total Steps']

In [16]:
dataFrame

                ID     Day h_num cSteps h_tar h_t_ac daily_tar prediction
0             1001  Monday     0      5     3      1     11136          1
1             1001  Monday     1      1     4      0     11136          1
2             1001  Monday     2      5     4      1     11136          1
3             1001  Monday     3      4     5      0     11136          1
4             1001  Monday     4    118   188      0     11136          1
5             1001  Monday     5   5486  4971      1     11136          1
6             1001  Monday     6   3291  2982      1     11136          1
7             1001  Monday     7   1097   994      1     11136          1
8             1001  Monday     8    548   497      1     11136          1
9             1001  Monday     9    411   133      1     11136          1
10            1001  Monday    10    140     5      1     11136          1
11            1001  Monday    11    196   111      1     11136          1
12            1001  Monday    12    116   179      0     11136          1
13            1001  Monday    13    163    33      1     11136          1
14            1001  Monday    14     76   143      0     11136          1
15            1001  Monday    15    117   155      0     11136          1
16            1001  Monday    16    109    66      1     11136          1
17            1001  Monday    17     85   144      0     11136          1
18            1001  Monday    18    143   126      1     11136          1
19            1001  Monday    19    104   167      0     11136          1
20            1001  Monday    20    140   143      0     11136          1
21            1001  Monday    21    147    80      1     11136          1
22            1001  Monday    22      5     2      1     11136          1
23            1001  Monday    23      3     1      1     11136          1
24            1001  Monday     0      1     5      0     12510          1
25            1001  Monday     1      2     1      1     12510          1
26            1001  Monday     2      1     5      0     12510          1
27            1001  Monday     3      5     4      1     12510          1
28            1001  Monday     4    150   118      1     12510          1
29            1001  Monday     5   6541  5486      1     12510          1
...            ...     ...   ...    ...   ...    ...       ...        ...
537066  8877689391  Sunday    18     32   140      0      5711          0
537067  8877689391  Sunday    19    182   124      1      5711          0
537068  8877689391  Sunday    20     12    37      0      5711          0
537069  8877689391  Sunday    21     75    19      1      5711          0
537070  8877689391  Sunday    22     80   192      0      5711          0
537071  8877689391  Sunday    23      3     0      1      5711          0
537072  8877689391  Sunday     0      5     5      1      4636          1
537073  8877689391  Sunday     1      0     2      0      4636          1
537074  8877689391  Sunday     2      3     5      0      4636          1
537075  8877689391  Sunday     3      0     2      0      4636          1
537076  8877689391  Sunday     4      5     4      1      4636          1
537077  8877689391  Sunday     5   1967  1615      1      4636          1
537078  8877689391  Sunday     6    571  1020      0      4636          1
537079  8877689391  Sunday     7   1471   336      1      4636          1
537080  8877689391  Sunday     8     32   168      0      4636          1
537081  8877689391  Sunday     9    137    56      1      4636          1
537082  8877689391  Sunday    10     83    91      0      4636          1
537083  8877689391  Sunday    11    153   135      1      4636          1
537084  8877689391  Sunday    12    104   150      0      4636          1
537085  8877689391  Sunday    13     74   196      0      4636          1
537086  8877689391  Sunday    14    185    38      1      4636          1
537087  8877689391  Sunday    15     88    58      1      4636          1
537088  8877689391  Sunday    16     70   178      0      4636          1
537089  8877689391  Sunday    17    150   193      0      4636          1
537090  8877689391  Sunday    18     95    32      1      4636          1
537091  8877689391  Sunday    19    170   182      0      4636          1
537092  8877689391  Sunday    20    180    12      1      4636          1
537093  8877689391  Sunday    21    119    75      1      4636          1
537094  8877689391  Sunday    22     55    80      0      4636          1
537095  8877689391  Sunday    23      4     3      1      4636          1

[537096 rows x 8 columns]

In [18]:
dataFrame.to_csv('predictive_model_dataset.csv',index = 0)

In [30]:
df1 = pd.read_csv("clustered_data.csv",index_col = 0)
df2 = pd.read_csv("predictive_model_dataset.csv")
d = {}
for index in df1.index:
    d[index] = df1.at[index,"Cluster"]

In [34]:
arr = []
for index in df2.index:
    arr.append(d[df2.at[index,"ID"]])

In [36]:
print(len(arr))

537096

In [37]:
df2["Contextual_group"] = arr
df2.head()

,ID,Day,h_num,cSteps,h_tar,h_t_ac,daily_tar,prediction,Contextual_group
0,1001,Monday,0,5.0,3.0,1,11136.0,1,0
1,1001,Monday,1,1.0,4.0,0,11136.0,1,0
2,1001,Monday,2,5.0,4.0,1,11136.0,1,0
3,1001,Monday,3,4.0,5.0,0,11136.0,1,0
4,1001,Monday,4,118.0,188.0,0,11136.0,1,0

In [39]:

arr = []

for index in df2.index:
    if(df2.at[index,"Day"] == "Monday"):
        num = df2.at[index,"Contextual_group"]  + 1
        df1 = pd.read_csv("Dataset/SecondLevel/Cluster " + str(num)  +"/monday.csv", index_col = 0)
        arr.append(df1.at[df2.at[index,"ID"],"Cluster"])
    elif(df2.at[index,"Day"] == "Tuesday"):
        num = df2.at[index,"Contextual_group"]  + 1
        df1 = pd.read_csv("Dataset/SecondLevel/Cluster " + str(num)  +"/tuesday.csv", index_col = 0)
        arr.append(df1.at[df2.at[index,"ID"],"Cluster"])
    elif(df2.at[index,"Day"] == "Wednesday"):
        num = df2.at[index,"Contextual_group"]  + 1
        df1 = pd.read_csv("Dataset/SecondLevel/Cluster " + str(num)  +"/wednesday.csv", index_col = 0)
        arr.append(df1.at[df2.at[index,"ID"],"Cluster"])
    elif(df2.at[index,"Day"] == "Thursday"):
        num = df2.at[index,"Contextual_group"]  + 1
        df1 = pd.read_csv("Dataset/SecondLevel/Cluster " + str(num)  +"/thursday.csv", index_col = 0)
        arr.append(df1.at[df2.at[index,"ID"],"Cluster"])
    elif(df2.at[index,"Day"] == "Friday"):
        num = df2.at[index,"Contextual_group"]  + 1
        df1 = pd.read_csv("Dataset/SecondLevel/Cluster " + str(num)  +"/friday.csv", index_col = 0)
        arr.append(df1.at[df2.at[index,"ID"],"Cluster"])
    elif(df2.at[index,"Day"] == "Saturday"):
        num = df2.at[index,"Contextual_group"]  + 1
        df1 = pd.read_csv("Dataset/SecondLevel/Cluster " + str(num)  +"/saturday.csv", index_col = 0)
        arr.append(df1.at[df2.at[index,"ID"],"Cluster"])
    elif(df2.at[index,"Day"] == "Sunday"):
        num = df2.at[index,"Contextual_group"]  + 1
        df1 = pd.read_csv("Dataset/SecondLevel/Cluster " + str(num)  +"/sunday.csv", index_col = 0)
        arr.append(df1.at[df2.at[index,"ID"],"Cluster"])
    
df2["Activity Pattern"] = arr

In [42]:
df2

,ID,Day,h_num,cSteps,h_tar,h_t_ac,daily_tar,prediction,Contextual_group,Activity Pattern
0,1001,Monday,0,5.0,3.0,1,11136.0,1,0,0
1,1001,Monday,1,1.0,4.0,0,11136.0,1,0,0
2,1001,Monday,2,5.0,4.0,1,11136.0,1,0,0
3,1001,Monday,3,4.0,5.0,0,11136.0,1,0,0
4,1001,Monday,4,118.0,188.0,0,11136.0,1,0,0
5,1001,Monday,5,5486.0,4971.0,1,11136.0,1,0,0
6,1001,Monday,6,3291.0,2982.0,1,11136.0,1,0,0
7,1001,Monday,7,1097.0,994.0,1,11136.0,1,0,0
8,1001,Monday,8,548.0,497.0,1,11136.0,1,0,0
9,1001,Monday,9,411.0,133.0,1,11136.0,1,0,0
10,1001,Monday,10,140.0,5.0,1,11136.0,1,0,0
11,1001,Monday,11,196.0,111.0,1,11136.0,1,0,0
12,1001,Monday,12,116.0,179.0,0,11136.0,1,0,0
13,1001,Monday,13,163.0,33.0,1,11136.0,1,0,0
14,1001,Monday,14,76.0,143.0,0,11136.0,1,0,0
15,1001,Monday,15,117.0,155.0,0,11136.0,1,0,0
16,1001,Monday,16,109.0,66.0,1,11136.0,1,0,0
17,1001,Monday,17,85.0,144.0,0,11136.0,1,0,0
18,1001,Monday,18,143.0,126.0,1,11136.0,1,0,0
19,1001,Monday,19,104.0,167.0,0,11136.0,1,0,0
20,1001,Monday,20,140.0,143.0,0,11136.0,1,0,0
21,1001,Monday,21,147.0,80.0,1,11136.0,1,0,0
22,1001,Monday,22,5.0,2.0,1,11136.0,1,0,0
23,1001,Monday,23,3.0,1.0,1,11136.0,1,0,0
24,1001,Monday,0,1.0,5.0,0,12510.0,1,0,0
25,1001,Monday,1,2.0,1.0,1,12510.0,1,0,0
26,1001,Monday,2,1.0,5.0,0,12510.0,1,0,0
27,1001,Monday,3,5.0,4.0,1,12510.0,1,0,0
28,1001,Monday,4,150.0,118.0,1,12510.0,1,0,0
29,1001,Monday,5,6541.0,5486.0,1,12510.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
537066,8877689391,Sunday,18,32.0,140.0,0,5711.0,0,0,0
537067,8877689391,Sunday,19,182.0,124.0,1,5711.0,0,0,0
537068,8877689391,Sunday,20,12.0,37.0,0,5711.0,0,0,0
537069,8877689391,Sunday,21,75.0,19.0,1,5711.0,0,0,0
537070,8877689391,Sunday,22,80.0,192.0,0,5711.0,0,0,0
537071,8877689391,Sunday,23,3.0,0.0,1,5711.0,0,0,0
537072,8877689391,Sunday,0,5.0,5.0,1,4636.0,1,0,0
537073,8877689391,Sunday,1,0.0,2.0,0,4636.0,1,0,0
537074,8877689391,Sunday,2,3.0,5.0,0,4636.0,1,0,0
537075,8877689391,Sunday,3,0.0,2.0,0,4636.0,1,0,0
537076,8877689391,Sunday,4,5.0,4.0,1,4636.0,1,0,0
537077,8877689391,Sunday,5,1967.0,1615.0,1,4636.0,1,0,0
537078,8877689391,Sunday,6,571.0,1020.0,0,4636.0,1,0,0
537079,8877689391,Sunday,7,1471.0,336.0,1,4636.0,1,0,0
537080,8877689391,Sunday,8,32.0,168.0,0,4636.0,1,0,0
537081,8877689391,Sunday,9,137.0,56.0,1,4636.0,1,0,0
537082,8877689391,Sunday,10,83.0,91.0,0,4636.0,1,0,0
537083,8877689391,Sunday,11,153.0,135.0,1,4636.0,1,0,0
537084,8877689391,Sunday,12,104.0,150.0,0,4636.0,1,0,0
537085,8877689391,Sunday,13,74.0,196.0,0,4636.0,1,0,0
537086,8877689391,Sunday,14,185.0,38.0,1,4636.0,1,0,0
537087,8877689391,Sunday,15,88.0,58.0,1,4636.0,1,0,0
537088,8877689391,Sunday,16,70.0,178.0,0,4636.0,1,0,0
537089,8877689391,Sunday,17,150.0,193.0,0,4636.0,1,0,0
537090,8877689391,Sunday,18,95.0,32.0,1,4636.0,1,0,0
537091,8877689391,Sunday,19,170.0,182.0,0,4636.0,1,0,0
537092,8877689391,Sunday,20,180.0,12.0,1,4636.0,1,0,0
537093,8877689391,Sunday,21,119.0,75.0,1,4636.0,1,0,0
537094,8877689391,Sunday,22,55.0,80.0,0,4636.0,1,0,0
537095,8877689391,Sunday,23,4.0,3.0,1,4636.0,1,0,0

In [43]:
df2.to_csv("predictive_model_dataset.csv",index = 0)